
.icon {
    -webkit-transition: .3s;
    transition: .3s;
}

.icon:hover {
    transform: scale(1.1);
    margin-left: 8px;
    margin-right: 8px;

}
.email {
    -webkit-transition: .3s;
    transition: .3s;
    color: black;
}
.email:hover {
    background: linear-gradient(0deg,rgba(57, 57, 57, 1) 0%, rgba(23, 23, 23, 1) 100%);
    color: #fcfcfc
}