.about-me {
    color: black
}
h4 {
    color: black
}

.donate-img {
    transform: scale(1);
  }
  .donate-img:hover {
    transform: scale(1.1);
    -webkit-transition: .3s;
    transition: .3s;
  }

.paypal-button {
  background: linear-gradient(180deg,rgba(0, 140, 255, 1) 0%, rgba(0, 0, 137, 1) 100%);
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  box-shadow: 0 8px 8px rgba(0,0,0,0.22);

  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}
.paypal-button:hover {
  background: rgb(0, 0, 137);
}
.cashapp-button {
  background: linear-gradient(180deg,rgba(0, 255, 0, 1) 0%, rgba(0, 196, 0, 1) 100%);;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  box-shadow: 0 8px 8px rgba(0,0,0,0.22);

  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}
.cashapp-button:hover {
  background:rgb(0, 138, 0);
}
.paypal-button a, .cashapp-button a {
  color: white;
}