.gallery-backdrop-3d {
  height: 0;
  background: linear-gradient(180deg, #232526 0%, #414345 80%, rgba(65,67,69,0.77) 96%, rgba(65,67,69,0) 100%);
}


.gallery-header {
  text-align: center;
  margin: auto;
  margin-bottom: 8;
}
.gallery-header-img {
  margin: -2rem;
  min-width: 150px;
  width: 66%;
  max-width: 555px;
  filter: drop-shadow(0 2px 2px rgba(0,0,0,0.35));
}
.gallery-header-title {
  font-family: 'Pixeloid Sans Bold';
  line-height: 1;
}
.gallery-header-subtitle {
  font-family: 'Pixeloid Sans';
  width: 90%;
  margin: auto;
}
.gallery-grid {
  width: 99%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin: 0 auto 16px auto;
  padding-left: 16px;
  padding-right: 24px;
  box-sizing: border-box;
}
  .gallery-grid img {
    transition: 0.3s ease;
  }
.gallery-image-transition {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s, transform 0.4s;
}

.gallery-image-frame[style*="display: none"] {
  opacity: 0 !important;
  transform: scale(0.95) !important;
  pointer-events: none;
}
.line {
  margin: auto;
  width:95%;
  height:24px;
  padding:10px 0;
  box-sizing:border-box;
  border-left:2px solid;
  border-right: 2px solid;
  background:#000 content-box;
}
  .gallery-image-frame {
    transition: transform 0.2s cubic-bezier(.4,2,.6,1), box-shadow 0.2s;
  }
  
  .gallery-image-frame:hover {
    transform: scale(1.12);
    z-index: 2;
    box-shadow: 0 4px 24px rgba(0,0,0,0.25);
  }
  
  .gallery-image-frame img {
    object-fit: contain;
        box-shadow: inset 0px 0px 10px rgba(255, 0, 0, 0.9);

  }

  .gallery-image {
    transition: transform 0.2s cubic-bezier(.4,2,.6,1);
  }
  
  .gallery-image-frame:hover .gallery-image {
    transform: scale(1.05);
  }

  @media (max-width: 600px) {
    .gallery-grid {
      grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
      gap: 8px;
    }
    .gallery-image-frame {
      max-height: 120px;
      padding: 2px;
    }
    .gallery-image-frame img {
      max-height: 100px;
    }
  }