@media (max-width: 600px) {
  .videos-header-subtitle {
    display: none !important;
  }
}
.about-me {
    color: black
}
h4 {
    color: black
}
a:link, a:active { text-decoration: none; color: #970707 }
.my-videos, .my-videos img {
  transition: .2s ease;
}
.my-videos img {
  image-rendering: pixelated;
  filter: grayscale(28%);
}
.my-videos {
  font-family: 'Pixeloid Sans Bold';
  text-rendering: 'optimizeLegibility';
  box-shadow: 0 4px 16px rgba(0,0,0,0.44);
  box-shadow: 2px 2px 0 #808080;
  margin: auto;
  width: 190px;
}
.videos-grid {
  margin: 0 auto 16px auto;
  width: 100%;

  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.11);
  padding: 0;
}
.my-videos:hover {
  background: #c0c0c0;
  transform: scale(1.12);
  z-index: 2;
  box-shadow: 0 12px 48px 0 #2b2b2b, 0 8px 32px rgba(0,0,0,0.38);
  border: 1.5px solid #3d3d3d;
  font-size: 2em;
  font-weight: bold;
}
.my-videos img:hover {
  transform: scale(1.05);
  filter: grayscale(0.15) contrast(1.1);
  border: 2.5px inset #808080;
  box-shadow: 0 0 0 #808080;
  z-index: 4;
}

.my-videos:before {
  content: " ";
  padding: 3px;
}
.videos-header span {
  text-rendering: 'optimizeLegibility'
}
.videos-header {
  background: linear-gradient(180deg,rgba(0, 0, 0, 1) 11%, rgb(255, 33, 0) 28%, rgba(255, 0, 0, 0.86) 83%, rgba(0, 0, 0, 1) 98%);
  text-shadow: 1px 1px 0 #000000;
  font-family: 'Pixeloid Sans';
}
.videos-header-subtitle {
  text-shadow: 1px 1px 0 #000000;justify-content: center;
  font-size: 28; width: 100px; line-height: 1; display: flex; margin: auto; text-align: center; color: black;}
.videos-header {
  border-bottom: 4px solid #808080;
  text-shadow: 2px 2px 1px #000000;
}
.featured-video-title {
  font-family: 'Pixeloid Sans Bold';
  text-shadow:
    2px 2px 0 #000,
    -2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
}
  
  @keyframes chroab {
  0% {
    text-shadow: 0 0 #a50610, 0 0 #0c2aa8, 0 1px 0 transparent, 1px 0 0 transparent
  }
  100% {
    text-shadow: 0.1ex 0 #a50610, -0.06ex 0 #0c2aa8, 0 0.2ex 0 rgba(0,0,0,.8), 0.2ex 0 0 rgba(0,0,0,.8);
  }
}
@media (max-width: 600px) {
  .videos-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
  }
}
.bottom-tag {
    display: block;
    line-height: 0.5;
    width: 60%;
    font-size: 12px;
    text-align: center;
    align-items: center;
    margin: auto;
  }
  .fieldset {
    border: 1px solid #ffffff;
}

.share-icon:hover img,
.share-icon:hover span {
  filter: drop-shadow(0 0 3px #fff) contrast(140%);
  text-shadow: 0 0 3px #fff, 0 0 5px #fff;
  color: #fff;
  scale: 1.1;
  transition: 0.3s ease;
}
.share-btn:hover {
  border-color: red !important;
}
.share-btn {
  transition: 0.3s ease;
}