.about-me {
    color: black
}
h4 {
    color: black
}
a:link, a:active { text-decoration: none; color: #970707 }
.my-videos, .my-videos img {
  transition: .2s ease;
}
.my-videos img {
  image-rendering: pixelated;
}
.my-videos {
  font-family: 'Pixeloid Sans Bold';
  box-shadow: 0 4px 16px rgba(0,0,0,0.44);
  box-shadow: 2px 2px 0 #808080;
  margin: auto;
  width: 180px;
}
.videos-grid {
  margin: 0 auto 16px auto;
  width: 100%;

  box-shadow: 0 2px 24px rgba(0,255,231,0.08);
  padding: 1% 0;
}
.my-videos:hover {
  background: #c0c0c0;
  transform: scale(1.12);
  z-index: 2;
  box-shadow: 0 12px 48px 0 #2b2b2b, 0 8px 32px rgba(0,0,0,0.38);
  border: 1.5px solid #3d3d3d;
  font-size: 2em;
  font-weight: bold;
}
.my-videos img:hover {
  transform: scale(1.05);
  filter: grayscale(0.15) contrast(1.1);
  border: 2.5px inset #808080;
  box-shadow: 0 0 0 #808080;
  z-index: 4;
}

.my-videos:before {
  content: " ";
  padding: 3px;
}

.videos-featured, .videos-header {
  background: linear-gradient(0deg,rgba(217, 217, 217, 1) 0%, rgba(117, 117, 117, 1) 50%, rgba(0, 0, 0, 1) 100%);
  text-shadow: 1px 1px 0 #000000;
  border-bottom: 4px solid #808080;
    font-family: 'Pixeloid Sans';
}
.videos-header {
  border-bottom: 4px solid #808080;
  text-shadow: 1px 1px 0 #fff;

}
.featured-video-title {
  font-family: 'Pixeloid Sans Bold';
  border: 2px solid #fff;
  font-size: 1.1em;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}
.crt::before {
    content: " ";
    display: sticky;
    position: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  .my-videos:active {
    background: #676767 !important; 
  }
  @keyframes flicker {
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.10626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.10626;
    }
    30% {
    opacity: 0.18128;
    }
    35% {
    opacity: 0.23604;
    }
  }
  
  .crt::after {
    content: " ";
    display: block;
    position: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
  }
  
  @keyframes chroab {
  0% {
    text-shadow: 0 0 #a50610, 0 0 #0c2aa8, 0 1px 0 transparent, 1px 0 0 transparent
  }
  100% {
    text-shadow: 0.1ex 0 #a50610, -0.06ex 0 #0c2aa8, 0 0.2ex 0 rgba(0,0,0,.8), 0.2ex 0 0 rgba(0,0,0,.8);
  }
}
@media (max-width: 600px) {
  .videos-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
  }
}