.about-me {
    color: black
}
h4 {
    color: black
}
a:link, a:active { text-decoration: none; color: #970707 }
.my-videos, .my-videos img {
  transition: .2s ease;
}
.my-videos img {
  image-rendering: pixelated;
  filter: grayscale(28%);
}
.my-videos {
  font-family: 'Pixeloid Sans Bold';
  box-shadow: 0 4px 16px rgba(0,0,0,0.44);
  box-shadow: 2px 2px 0 #808080;
  margin: auto;
  width: 180px;
}
.videos-grid {
  margin: 0 auto 16px auto;
  width: 100%;

  box-shadow: 0 2px 24px rgba(0,255,231,0.08);
  padding: 1% 0;
}
.my-videos:hover {
  background: #c0c0c0;
  transform: scale(1.12);
  z-index: 2;
  box-shadow: 0 12px 48px 0 #2b2b2b, 0 8px 32px rgba(0,0,0,0.38);
  border: 1.5px solid #3d3d3d;
  font-size: 2em;
  font-weight: bold;
}
.my-videos img:hover {
  transform: scale(1.05);
  filter: grayscale(0.15) contrast(1.1);
  border: 2.5px inset #808080;
  box-shadow: 0 0 0 #808080;
  z-index: 4;
}

.my-videos:before {
  content: " ";
  padding: 3px;
}

.videos-featured, .videos-header {
  background: linear-gradient(0deg,rgb(84, 84, 84) 0%, rgba(117, 117, 117, 1) 50%, rgba(0, 0, 0, 1) 100%);
  text-shadow: 1px 1px 0 #000000;
  border-bottom: 2px solid #d5d5d5;
    font-family: 'Pixeloid Sans';
}
.videos-header-subtitle {
  text-shadow: 1px 1px 0 #000000;
}
.videos-header {
  border-bottom: 4px solid #808080;
  text-shadow: 2px 2px 1px #000000;
}
.featured-video-title {
  font-family: 'Pixeloid Sans Bold';
  text-shadow:
    2px 2px 0 #000,
    -2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
}
  
  @keyframes chroab {
  0% {
    text-shadow: 0 0 #a50610, 0 0 #0c2aa8, 0 1px 0 transparent, 1px 0 0 transparent
  }
  100% {
    text-shadow: 0.1ex 0 #a50610, -0.06ex 0 #0c2aa8, 0 0.2ex 0 rgba(0,0,0,.8), 0.2ex 0 0 rgba(0,0,0,.8);
  }
}
@media (max-width: 600px) {
  .videos-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
  }
}
.bottom-tag {
    display: block;
    line-height: 0.5;
    width: 60%;
    font-size: 12px;
    text-align: center;
    align-items: center;
    margin: auto;
  }
  .fieldset {
    border: 1px solid #ffffff;
}

.share-icon:hover img,
.share-icon:hover span {
  filter: drop-shadow(0 0 3px #fff) contrast(140%);
  text-shadow: 0 0 3px #fff, 0 0 5px #fff;
  color: #fff;
  scale: 1.1;
  transition: 0.3s ease;
}
.share-btn:hover {
  border-color: red !important;
}
.share-btn {
  transition: 0.3s ease;
}