#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  width: 100vw;
  height: 100vh;
  
  animation-name: reset, fade-in;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}
.desktop {
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
}

.background-3d {
  transition: transform 0.2s cubic-bezier(.03,.98,.52,.99);
  will-change: transform;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
a:hover {
  color: #c60b0b;
}
