:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 0.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
.winbox {
  background: #f4f4f4;
  color: #222;
}

body.dark-mode {
  color: #f4f4f4 !important;
}

.winbox.dark-mode .wb-body, .winbox.dark-mode .about-me,
body.dark-mode .about-me,
.winbox.dark-mode .videos-window,
body.dark-mode .videos-window, .winbox.dark-mode .my-videos, .winbox-dark-mode .videos-grid, body.dark-mode .videos-grid, body.dark-mode .video-title, .winbox.dark-mode .video-title, body.dark-mode .gallery-header, .winbox.dark-mode .gallery-header, body.dark-mode .contact-me, .winbox.dark-mode .contact-me, .winbox.dark-mode .bottom-tag, body.dark-mode .bottom-tag, body.dark-mode .donate, .winbox.dark-mode .donate, .winbox.dark-mode .videos-header-subtitle button {
  background: #181818 !important;
  color: #f4f4f4 !important;
}

.winbox.dark-mode .about-split, .winbox.dark-mode .email, .winbox.dark-mode .socials, .winbox.dark-mode .paypal-button, .winbox.dark-mode .cashapp-button, .winbox.dark-mode .gallery-junk input[type="checkbox"], .winbox.dark-mode .line, .winbox.dark-mode .my-videos, .winbox.dark-mode .my-videos img {
  accent-color: #f4f4f4 !important;
  border-color: #f4f4f4 !important;
}
.winbox.dark-mode .about-me,
.winbox.dark-mode .videos-window
.winbox.dark-mode .my-videos, .winbox.dark-mode .videos-grid, .winbox.dark-mode .video-title, .winbox.dark-mode .gallery-header, .winbox.dark-mode .bottom-tag, .winbox.dark-mode .gallery-junk, .winbox.dark-mode .notepad, .winbox.dark-mode .gallery-junk label, .winbox.dark-mode .gallery-junk span {
  background: #181818 !important;
  color: #fcfcfc !important;
}
.winbox.dark-mode .gallery-image-frame {
  background: #ffffff !important;
}
.winbox.dark-mode .my-videos {
    box-shadow: 2px 2px 0 #fcfcfc !important;
}
.winbox-dark-mode .gallery-grid img, .winbox-dark-mode .gallery-image-frame:hover {
  box-shadow: 0 8px 16px rgba(255,255,255,0.55) !important;
}

.winbox.dark-mode .email {
    color: #fcfcfc !important;
}
.winbox.dark-mode .line {
    background: #fcfcfc content-box !important;
}

body *::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background: none;
}

body *::-webkit-scrollbar-thumb, body *::-webkit-scrollbar-button {
  width: 16px;
  height: 16px;
  background: silver;
  box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px gray;
  border: 1px solid;
  border-color: silver #000 #000 silver;
}

body *::-webkit-scrollbar-track {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+");
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 2px;
}

body *::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  background-size: 16px;
}

body *::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgNWgxTTYgNmgzTTUgN2g1TTQgOGg3IiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgNWg3TTUgNmg1TTYgN2gzTTcgOGgxIiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTggM2gxTTcgNGgyTTYgNWgzTTUgNmg0TTYgN2gzTTcgOGgyTTggOWgxIiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgM2gxTTYgNGgyTTYgNWgzTTYgNmg0TTYgN2gzTTYgOGgyTTYgOWgxIiAvPgo8L3N2Zz4=");
}

body *::-webkit-scrollbar-corner {
  background: silver;
}

@font-face {
  font-family: 'Sans Nouveaux';
  src: local('Sans Nouveaux'), url(px_sans_nouveaux.ttf) format('truetype');
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Pixeloid Sans';
  src: local('Pixeloid Sans'), url(PixeloidSans.ttf) format('truetype');
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Pixeloid Sans Bold';
  src: local('Pixeloid Sans Bold'), url(PixeloidSans-Bold.ttf) format('truetype');
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Zpix';
  src: local('Zpix'), url(zpix.ttf) format('truetype');
  text-rendering: optimizeLegibility;
}


body {
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  animation-name: reset, fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}
.desktop {
  list-style: none;
  padding: 5% auto;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  max-height: 100%;
}
.logo {
  transform: scale(1.1);
}
.logo:hover {
  transform: scale(1.4);
  color: red;
  -webkit-transition: .3s;
  transition: .3s;
}
.desktop-item a {
  color: #fdfdfd !important;
  -webkit-transition: .3s;
  transition: .3s;
}
.desktop-item a:hover {
  color: rgb(255, 42, 42) !important;
}
.desktop-text {
    font-family: 'Pixeloid Sans Bold';
  text-align: center;
  font-weight: bold;
  text-shadow:
    3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
    padding-bottom: 0px;
}
.desktop-text:hover {
  color: red;
}
.taskbar-tab:hover {
  -webkit-transition: .3s;
  transition: .3s;
}
.taskbar-tab:hover {
  background-color: red !important;
}
.taskbar-item {
  height: 25px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
}
.taskbar-tooltip {
  display: none;
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-45%);
  background: #222;
  color: #fff;
  padding: 6px 8px;
  border: 2px solid white;
  font-size: 14px;
  white-space: nowrap;
  z-index: 100;
  box-shadow: 0 2px 8px #0006;
  pointer-events: none;
}
.taskbar-corner-item {
  height: 28px;
  width: 28px;
  margin-right: 8px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
}
.taskbar-item:hover {
  border: 10px;
  transform: scale(1.1);
}
.taskbar-item:hover + .taskbar-tooltip,
.taskbar-tooltip:hover {
  display: block !important;
}
.taskbar {
  z-index: 1;
}
.AppBar { 
  top: auto; bottom: 0; 
}
.window-border {
  box-shadow: inset 0 0 10px #000000;
}
.taskbar {
  position: absolute;
}
.logo {
  height: 4em;
  padding: 2em;
  transform: scale(1.2);
  will-change: filter;
  transition: filter 300ms;
  text-align: center;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:focus, button:focus, button:focus-visible {
  outline-style: none;
  text-decoration: none;
  box-shadow: none;
}
a:hover {
  color: #535bf2;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button:hover {
  border-color: #646cff;
}

body.crt::before,
.winbox.crt::before {
  content: " ";
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:
  linear-gradient(
    to bottom,
    rgba(18,16,16,0.08) 0%,
    rgba(0,0,0,0.18) 100%
  ),
    linear-gradient(90deg, rgba(255,0,0,0.06), rgba(0,255,0,0.02), rgba(0,0,255,0.06));
  z-index: 9999;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.10626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.10626;
  }
  30% {
  opacity: 0.18128;
  }
  35% {
  opacity: 0.23604;
  }
}

body.crt::after,
.winbox.crt::after {
  content: " ";
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 9999;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}